body{
    margin: 15%;
    background: orange;
}

#title{
    width: 100%;
    position: relative;
    font-size: 300%;
    color: #431D70;
    text-align: center;
    align-content: center;
    font-family: 'Oswald', sans-serif;
}

#transaction{
    text-align: center;
    background-color: white;
    border-radius: 50px;
}

#transaction form{
    margin-top: 4%;
    margin-left:20%;
    margin-right:20%;
    align-content: center;
}
.fields{
    border-bottom: solid #431D70;
    border-width: 1px;
    width: 50%;
    height: 12%;
    font-size: 100%;
}
.icon{
    color: #929292;
}

button {
    background-color: #431D70;
    border-style: solid #431D70 4px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 100%;
    cursor: pointer;
    margin-top: 2%;
    width: 70%;
    margin-bottom: 2%;
}
#transaction{
    margin-top: 7%;
    margin-left: 20%;
    margin-right: 20%;
}
#video{
    background-color: black;
    margin: 5%;
    height: 30%;
}


