html, body{
    background: #ebebeb;
    font-family: helvetica;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container {
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
}
#content{
    background: #fff;
    border-radius: 20px;
    position: absolute;
    bottom: 6%;
    top: 6%;
    right: 6%;
    left: 6%;
    padding: 50px;
    border: 1px solid #13abaf;
}
#title_desc {
    position: relative;
    width: 65%;
    height: 100%;
    float: left;
    margin-right: 5%;
}
#table {
    position: relative;
    height: 100%;
    width: 30%;
    float: right;
}
table, th, td {
    padding: 15px;
    border: 1px solid #13abaf;
    border-collapse: collapse;
}
table {
    position: absolute;
    width: 100%;
    top: 20%;
    bottom: 20%;
    background: #fff;
}
.info {
    background: #ebebeb;
    text-align: right;
}
input[type=submit]{
    border-radius: 7px;
    display: block;
    margin: auto;
    width: 200px;
    height: 40px;
    background: #13abaf;
    color: white;
    border: 0;
}

.title{
    color: #232f3f;
    font-size: 1.5em;
} 
.inline{

    display: inline;
}
.desc{
  
}
.moreDetails, .footer{
}

#id_shadow{
    display: none;
}

#postedBy{
    font-weight: bold;
    
    
}

#jobTitle{
    font-weight: bold;
    
}

#creator_name{
    
    
}

#creator_alias{
    
    
}

/*
#13abaf
*/