<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Serverless payment</title>
	<script src="../js/nav.js"></script>
	<script src="../js/dash.js"></script>
	<script src="../js/auth.js"></script>
	<script src="../js/config.js"></script>

	<link rel="stylesheet" type="text/css" href="../css/dash.css">
	<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet"> 

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="../js/moment.js"></script>

	<script src="https://sdk.amazonaws.com/js/aws-sdk-2.7.16.min.js"></script>
	<script src="../js/aws-cognito-sdk.min.js"></script>
	<script src="../js/config.js"></script>
	<script src="../js/amazon-cognito-auth.min.js"></script>
	<script src="../js/amazon-cognito-identity.min.js"></script>
	<script src="../js/cognito-register.js"></script>
	<script type="text/javascript" src="jquery.qrcode.min.js"></script>
</head>

<body onload="showUser()">
	<div nav="nav.html"></div>
	<div class="container">
			<span class="title">Hi, </span>
			<label class="title" id="name"></label>
		<div class="box">
			<p class="centerText" id="balanceTitle">Balance:</p>
			<p class="centerText" id="balance">---</p>
		</div>
		<div class="box">
			<div id="qrcode">Your QR code here</div>
			<button onclick= "window.location.href='/view/form.html'">Make a payment</button>
		</div>
		
		</div>
	</div>
</body>
<script>
	includeHTML();
	//auth();
</script>

</html>